body {
  padding: 0 5px;
  background: $green;

  @include bp-max-width($medium) {
    &.modal-active {
      overflow: hidden;
    }
  }
}

.container {
  padding: 0 20px;
  background: $creme;
  
  @include bp-min-width($medium) {
    @include cf;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

.wrapper {
  @include cf;
}