
.header {
  position: relative;
  padding: $base 0;
}

.logo {
  position: absolute;
  top: 8px;
  z-index: 10;
  width: 100px;

  @include bp-min-width($xsmall) {
    width: 144px;
  }

  @include bp-min-width($large) {
    @include horizontal-center(absolute);
    width: 188px;
  }
}

.nav {
  text-align: center;
}

.menu-menu-1-container {
  @include bp-max-width($large) {
    display: none;
    width: 100%;
    clear: both;
    background: $yellow;
  }
  
  &.is-active {
    display: block;
  }
}

.nav li {

  &:not(:last-child) {
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  @include bp-min-width($large) {
    display: inline-block;
    margin: 0 24px;
  }
  
  @include bp-min-width($xlarge) {
    margin: 0 36px;
  }
}

.nav li:nth-child(2) {

  @include bp-min-width($large) {
    margin-right: 130px;
  }

  @include bp-min-width($xlarge) {
    margin-right: 150px;
  }
}
  
.nav li:nth-child(3) {

  @include bp-min-width($large) {
    margin-left: 130px;
  }

  @include bp-min-width($xlarge) {
    margin-left: 150px;
  }
}

.nav li a {
  @include font-size(19px);
  font-family: $sans;
  color: $green;
  letter-spacing: 0.0125em;
  text-transform: uppercase;

  @include bp-max-width($large) {
    display: block;
    padding: 0.75em;
  }
}


.btn-mobile {
  @include font-size(19px);
  float: right;
  display: inline-block;
  padding: 0.5em 1em;
  background: $yellow;
  font-family: $sans;
  color: $green;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  
  @include bp-min-width($large) {
    display: none;
  }
}
