
.hero {
  position: relative;
  padding: $base*4 5% $base*2;
  background: $green $bg-hero no-repeat center center;
  background-size: cover;

  @include bp-min-width($medium) {
    height: $base*20;
  }

  @include bp-min-width($xlarge) {
    height: $base*26;
  }
}

.hero h1 {

  @include bp-min-width($medium) {
    position: absolute;
    left: 5%;
    bottom: $base*3;
    max-width: 580px;
  }
}