
.hero {
  position: relative;
  background: $green $hero-home no-repeat;
  background-size: cover;

  @include bp-min-width($medium) {
    height: 624px;
  }
  
  h1 {
    position: absolute;
    left: 5%;
    bottom: $base*2;
    max-width: 600px;
  }
}