
.popcorn {
  position: relative;
  padding: $base*3 0;
  border-top: 2px solid $yellow;
  border-bottom: 2px solid $yellow;

  @include bp-min-width($medium) {
    padding: $base*5 0;
  }
}

.popcorn:before {
  @include horizontal-center(absolute);
  content: "";
  top: -33px;
  width: 108px;
  height: 67px;
  padding: 0 20px;
  background: $creme $popped-corn no-repeat center center;
}

.popcorn:after {
  @include horizontal-center(absolute);
  content: "";
  bottom: -33px;
  width: 108px;
  height: 67px;
  padding: 0 20px;
  background: $creme $popped-corn no-repeat center center;
}

.col-bag-bowl {
  padding: 0;
}

.popcorn p,
.popcorn ul {
  margin-bottom: $base;
}

.popcorn-links {
  @include cf;
  padding-top: 36px;
}

.popcorn-links li {
  @include font-size(15px);
  font-weight: $bold;
  
  &:first-child {
    margin-bottom: 12px;
  }
  
  @include bp-min-width($medium) {
    float: left;
  
    &:first-child {
      margin-right: 70px;
    }
  }
}

.popcorn-links .icon-arrow {
  margin-left: 6px;
}