
.story {
  padding: $base*2 0 $base*3;

  @include bp-min-width($medium) {
    padding: $base*4 0;
  }
}

.story .col-1-2 {
  @include bp-max-width($large) {
    float: none;
    width: auto;
  }
}

.story .pic-bud {
  @include bp-max-width($medium) {
    float: right;
    width: 140px;
    margin: 0 0 20px 20px;
  }
}

.story .pic-bud img {
  border-radius: 50%;
  overflow: hidden;
}

.story .content p {
  margin-bottom: $base;
}

.story .content .col-1-2:last-child p:last-child {
  margin-bottom: 0;
}