
.where-to-buy {
  padding: $base*4 0;
  
  .content {
    max-width: 720px;
    margin-bottom: $base*2;
  }
}

.locations .col-1-3 h3 {
  margin-bottom: 8px;
}

.locations .col-1-3 p:first-of-type {
  @include font-size(17px);
}

.locations a {
  font-weight: $bold;
}