
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  transition: all 0.25s ease-in;

  @include bp-min-width($medium) {
    position: absolute;
  }
  
  &.is-active {
    visibility: visible;
    opacity: 1;
  }
  
  &.not-active {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0s;
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: $base*1 20px;
  background: #fff;
  box-shadow: 0 0 30px rgba(#000, 0.1);
  transition: all 0.25s ease-in;

  @include bp-min-width($medium) {
    @include absolute-center;
    padding: $base*1.5 40px;
  }
    
  &.is-active {
    visibility: visible;
    opacity: 1;
  }
  
  &.not-active {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0s;
  }
}

.modal-title {
  @include font-size(30px);
  margin-bottom: 16px;
  color: $green;
}

.modal-body {
  overflow: hidden;
  position: relative;
  height: 80%;

  @include bp-min-width($medium) {
    height: $base*10;
  }
}

.optiscroll-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 40px;
}

.optiscroll-v {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 8px;
  background: #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
}

.optiscroll-vtrack {
  display: block;
  position: absolute;
  right: 1px;
  width: 6px;
  background: #d1d1d1;
  border-radius: 5px;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  padding: 12px 0 0 12px;
  background: $yellow;

  @include bp-min-width($medium) {
    top: -46px;
  }
}

.icon-close {
  display: block;
  width: 22px;
  height: 22px;
}
